{{- $gitUserName := promptStringOnce . "git.user.name" "Git user name for the author/committer" -}}
{{- $gitUserEmail := promptStringOnce . "git.user.email" "Git user email for the author/committer" -}}

sourceDir: ~/dotfiles

data:
  git:
    user:
      name: {{ $gitUserName }}
      email: {{ $gitUserEmail }}
