# https://docs.brew.sh/Manpage#environment

# This file do not support shell variable expansion (e.g. $HOME) or command
# execution (e.g. $(cat file)).

HOMEBREW_NO_ENV_HINTS=0
HOMEBREW_NO_UPDATE_REPORT_NEW=1

HOMEBREW_ASK=0
HOMEBREW_VERBOSE=0
HOMEBREW_CASK_OPTS="--fontdir=/Library/Fonts"

HOMEBREW_CACHE={{ .chezmoi.homeDir }}/.cache/Homebrew
HOMEBREW_LOGS={{ .chezmoi.homeDir }}/.cache/Homebrew/Logs

#HOMEBREW_TEMP=

HOMEBREW_NO_INSTALL_CLEANUP=0
HOMEBREW_CLEANUP_MAX_AGE_DAYS=7

HOMEBREW_NO_EMOJI=0
#HOMEBREW_INSTALL_BADGE=

